<div class="activity-details-container" *ngIf="activity">
  <carousel
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [arrows]="false"
    [autoplay]="true"
    [dots]="true"
    [loop]="true">
    <div *ngFor="let photo of activity.photos" class="carousel-cell">
      <img class="carousel-image" src="{{photo}}" alt="activity photo" >
    </div>
  </carousel>
  <mat-card class="main-card">
    <mat-card-title>{{activity.title}}</mat-card-title>
    <mat-card-subtitle>
      <mat-icon inline>place</mat-icon>
      {{activity.location}}
    </mat-card-subtitle>
    <mat-card-content class="card-content">
      <p>{{activity.summary}}</p>
      <p>{{activity.description}}</p>
      <h2>Good to know</h2>
      <p>{{activity.extraInformation}}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions" align="end">
      <button (click)="toggleToFavorites()" mat-icon-button aria-label="Icon-button with heart icon">
        <mat-icon>{{isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
      <button mat-icon-button aria-label="Icon-button with heart icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="host-card">
    <mat-card-header>
      <mat-card-title>Meet {{activity.host.name}}, your activity host</mat-card-title>
      <mat-card-subtitle>
        <mat-icon inline>star_border</mat-icon>
        (4.5)
      </mat-card-subtitle>
      <img mat-card-avatar src="{{activity.host.profilePicture}}" alt="avatar">
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>{{activity.host.presentation}}</p>
    </mat-card-content>
  </mat-card>

  <div class="details-footer-fixed">
    <div class="details-footer">
      <span class="price">130 kr</span>
      <button mat-flat-button color="primary" class="contact-button">Contact host</button>
    </div>
  </div>
</div>
