<mat-card *ngIf="activity" class="card">
  <mat-card-header>
    <mat-card-title>{{activity.title}}</mat-card-title>
    <mat-card-subtitle>{{activity.location}}</mat-card-subtitle>
    <img mat-card-avatar src="{{activity.host.profilePicture}}" alt="avatar">
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>{{activity.summary}}</p>
  </mat-card-content>
  <img mat-card-image class="card-image" src="{{activity.photos[0]}}" alt="activity">
  <mat-card-actions class="card-actions" align="end">
    <mat-icon>favorite_border</mat-icon>
    <mat-icon>share</mat-icon>
  </mat-card-actions>
</mat-card>
