.card {
  margin: 15px
}

.card-image {
  max-height: 250px;
  object-fit: cover;
}

.card-actions button {
  margin-top: -20px;
  padding: 0 5px;
}

.card-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}

.left {
  margin-right: auto;
}
